@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --columns: 40;
    
    --vsq: calc(0.5svw + 0.5svh);
    --cell: calc((var(--vsq) * 50) / var(--columns));
  }

  * {
    @apply m-0 p-0 box-border;

    &:focus {
      @apply outline-none;
    }
  }

  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: calc(0.875rem + ((var(--vsq, 1svw) - 0.48rem) * 0.1736));
    line-height: 1.2;
    overflow-anchor: none;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
  }

  [type="color"] {
    &::-webkit-color-swatch-wrapper {
      @apply p-0;
    }

    &::-webkit-color-swatch {
      @apply border-none;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}